<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <section>
        <h1>
            <%= title %>
        </h1>

        <form id="todoForm" action="/create-task" method="post">
            <hr>
            <div id="description" class="arrange">
                <label for="name">Description</label> <br>
                <input type="text" id="name" name="description" placeholder="What do you you need to do?">
            </div>
            <hr>
            <div id="category" class="arrange">
                <label for="custom">Category</label> <br>
                <div class="custom-select">
                    <select id="custom" name="category">
                        <option value="0">Choose a category</option>
                        <option value="Personal">Personal</option>
                        <option value="School">School</option>
                        <option value="Work">Work</option>
                        <option value="Cleaning">Cleaning</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>
            <div id="dateid" class="arrange">
                <label for="start">Due date</label> <br>
                <input type="date" id="start" name="due_date">
            </div>
            <hr>
            <div id="taskbutton">
                <button type="submit" value="add" name="submit">
                    <i class="fa fa-plus"></i>
                    ADD TASK</button>
                <button type="submit" formaction="/delete-task" value="delete" name="submit">
                    <i class="fa fa-trash"></i>
                    DELETE TASKS</button>
            </div>
        
        
        <div id="output_list">
            <hr>
            <% todo_items.forEach(item=> { %>
                <div class="card">
                    <div>
                        <input type="checkbox" id ="todocheck" name="todocheck" class="list_items" value = "<%= item._id %>" >
                        <label for="todocheck" class="todochecklist">
                            <p>
                                <%= item.description %>
                            </p>
                            <p>
                                <span><i class="far fa-calendar-alt"></i>
                                    <%= item.due_date %>
                                </span>
                            </p>
                        </label>
                    </div>
                    <div class="category-color">
                        <%= item.category %>
                    </div>
                </div>
                <hr>

                <% }) %>
        </div>
    </form>
        <script src="/js/home.js"></script>

    </section>
    <script>



    </script>
</body>

</html>